@using System.Collections.Generic
@using WaFFLs.Generation
@using WaFFLs.Generation.Models
@inherits RazorEngine.Templating.TemplateBase<List<GameRecord>>

<html>
<head></head>
<body>

<ol>
    @foreach (var x in Model)
    {
        <li>@x.Value @x.Team1.GetDisplayName() vs @x.Team2.GetDisplayName() @x.Game</li>
    }
</ol>

</body>
</html>