@using System.Collections.Generic
@using WaFFLs.Generation
@using WaFFLs.Generation.Models
@inherits RazorEngine.Templating.TemplateBase<List<StreakRecord>>

<html>
<head></head>
<body>

<ol>
    @foreach (var x in Model)
    {
        <li>@x.Team.GetDisplayName() @x.Value (@x.From - @x.To)</li>
    }
</ol>

</body>
</html>