@using System.Collections.Generic
@using System.Linq
@using WaFFLs.Generation.Models
@inherits RazorEngine.Templating.TemplateBase<List<TeamInfo>>

<html>
<head>
    <style>
    </style>
</head>
<body>
    <div>
        <ul>
            @foreach (var x in Model.OrderByDescending(x => x.SeasonRecord.Wins).ThenByDescending(x => x.LastSeason))
            {
                <li><a href="@x.Filename">@x.Name</a> @x.SeasonRecord.Wins-@x.SeasonRecord.Losses <small>@x.PlayoffRecord.Wins-@x.PlayoffRecord.Losses</small></li>
            }
        </ul>
    </div>
</body>
</html>